.stats-container {
    margin-top: 23px;
    padding: 18px 15px;
    display: flex;
    border-radius: 10px;
    background-color: var(--page-bg);
    transition: all .5s;
}

@media screen and (min-width: 768px) {
    .stats-container {
        margin-top: 32px;
        padding: 16px 32px;
    }
}