/* Header */

.card-header {
    display: flex;
    align-items: center;
    gap: 19px;
    transition: all .5s;
}

@media screen and (min-width: 768px) {
    .card-header {
        gap: 41px;
    }
}

@media screen and (min-width: 1440px) {
    .card-header {
        align-items: flex-start;
        gap: 37px;
    }
}

/* Avatar */

.avatar {
    width: 25.1%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    transition: all .5s;
}

@media screen and (min-width: 768px) {
    .avatar {
        width: 23.7%;
    }
}

@media screen and (min-width: 1440px) {
    .avatar {
        width: 18.2%;
    }
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all .5s;
}

/* Account info */

@media screen and (min-width: 1440px) {
    .account {
        width: 75.7%;
        display: flex;
        justify-content: space-between;
        transition: all .5s;
    }
}

/* Date joined */

.joined {
    margin-top: 6px;
    transition: all .5s;
}

@media screen and (min-width: 768px) {
    .joined {
        margin-top: 4px;
    }
}

@media screen and (min-width: 1440px) {
    .joined {
        margin-top: unset;
    }
}