.theme-button {
    display: flex;
    align-items: center;
    gap: 16px;
    border: none;
    background-color: transparent;
    transition: all .5s;
}

@media screen and (min-width: 1440px) {
    .theme-button:hover {
        cursor: pointer;
    }
}