.card {
    padding: 32px 24px 48px 24px;
    border-radius: 15px;
    background-color: var(--content-bg);
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
    animation: changeOpacity 1s linear;
}

@media screen and (min-width: 768px) {
    .card {
        padding: 40px;
    }
}

@media screen and (min-width: 1440px) {
    .card {
        padding: 48px;
    }
}

@keyframes changeOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}