/* Page wrapper */

.page-wrapper {
    width: 100%;
    min-height: 125vh;
    background-color: var(--page-bg);
}

/* Content wrapper */

.content-wrapper {
    width: 87.2%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
}

@media screen and (min-width: 768px) {
    .content-wrapper {
        width: 74.6%;
    }
}

@media screen and (min-width: 1440px) {
    .content-wrapper {
        width: 50.7%;
    }
}

/* Page header */

.page-header {
    margin-bottom: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media screen and (min-width: 768px) {
    main {
        gap: 24px;
    }
}