@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input {
    font-family: inherit;
}

/* Colors */

:root {
    --page-bg: #F6F8FF;
    --content-bg: #FEFEFE;
    --stats-bg: #F6F8FF;
    --page-header: #222731;
    --card-header: #2B3442;
    --text-light: #697C9A;
    --text-medium: #4B6A9B;
    --text-dark: #2B3442;
    --accent: #0079FF;
    --accent-hover: #60ABFF;
    --error: #F74646;
    --search-button: #FFF;
}

[data-theme='dark'] {
    --page-bg: #141D2F;
    --content-bg: #1E2A47;
    --stats-bg: #141D2F;
    --page-header: #FFF;
    --card-header: #FFF;
    --text-light: #FFF;
    --text-medium: #FFF;
    --text-dark: #FFF;
}

/* Background */

.page-wrapper {
    background-color: var(--page-bg);
    transition: all .5s;
}

/* Typography */

html {
    font-family: 'Space Mono', sans-serif;
    font-size: 16px;
    font-style: normal;
}

/* --Headings */

[class^="heading"] {
    line-height: normal;
    transition: all .5s;
}

.heading-1 {
    /* ----Page title */
    color: var(--page-header);
    font-size: 1.625rem;
    font-weight: 700;
}

.heading-2 {
    /* ----Card title */
    color: var(--card-header);
    font-size: 1rem;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    .heading-2 {
        font-size: 1.625rem;
    }
}

.heading-3 {
    /* ----Stat titles */
    color: var(--text-medium);
    text-align: center;
    font-size: 0.6875rem;
    font-weight: 400;
}

@media screen and (min-width: 768px) {
    .heading-3 {
        text-align: left;
        font-size: 0.8125rem;
    }
}

/* --Paragraphs */

[class^="paragraph"] {
    transition: all .5s;
}

.paragraph-1 {
    /* ----Search input */
    color: var(--text-medium);
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5625rem;
}

@media screen and (min-width: 768px) {
    .paragraph-1 {
        font-size: 1.125rem;
    }
}

.paragraph-1::placeholder {
    /* ----Search input placeholder */
    color: inherit;
    font-size: inherit;
}

.paragraph-2 {
    /* ----Date joined */
    color: var(--text-light);
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: normal;
}

@media screen and (min-width: 768px) {
    .paragraph-2 {
        font-size: 0.9375rem;
    }
}

.paragraph-3 {
    /* ----Bio */
    color: var(--text-medium);
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5625rem;
}

@media screen and (min-width: 768px) {
    .paragraph-3 {
        font-size: 0.9375rem;
    }
}

.paragraph-4 {
    /* ----Stat numbers */
    color: var(--text-dark);
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .paragraph-4 {
        font-size: 1.375rem;
    }
}

.paragraph-5 {
    /* ----User links */
    color: var(--text-medium);
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: normal;
}

@media screen and (min-width: 768px) {
    .paragraph-5 {
        font-size: 0.9375rem;
    }
}

.paragraph-6 {
    /* ----Error message */
    color: var(--error);
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: normal;
}

@media screen and (min-width: 768px) {
    .paragraph-6 {
        font-size: 1.125rem;
    }
}

/* --Links */

[class^="link"] {
    transition: all .5s;
}

.link-1:link,
.link-1:visited,
.link-1:focus,
.link-1:hover,
.link-1:active {
    /* ----GitHub handle */
    color: var(--accent);
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .link-1:link {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1440px) {

    .link-1:focus,
    .link-1:hover,
    .link-1:active {
        color: var(--accent-hover);
    }
}

.link-2,
.link-2:link,
.link-2:visited,
.link-2:focus,
.link-2:active {
    /* ----User links */
    color: var(--text-medium);
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

@media screen and (min-width: 768px) {

    .link-2,
    .link-2:link,
    .link-2:visited,
    .link-2:focus,
    .link-2:active {
        font-size: 0.9375rem;
    }
}

@media screen and (min-width: 1440px) {
    .link-2:hover {
        text-decoration: underline;
    }
}

/* --Buttons */

.button-1 {
    color: var(--text-medium);
    text-align: right;
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.15625rem;
    text-transform: uppercase;
    transition: all .5s;
}

.button-2 {
    color: var(--search-button);
    text-align: center;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: normal;
    transition: all .5s;
}

@media screen and (min-width: 768px) {
    .button-2 {
        font-size: 1rem;
        font-weight: 700;
    }
}